@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularXX';
  src: local('CircularXX'); /* TODO: Add src url if you have the font file */
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html, body, #root {
    @apply h-full;
    font-family: 'Plus Jakarta Sans', 'Inter', 'sans-serif';
  }
  body {
    @apply text-white;
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee-right 15s linear infinite;
} 